@import './base.scss';

header {
	width: 96%;
}

article {
	width: 1000px;
	margin:  auto;
	overflow: hidden;
	margin-top: 30px;
}

.login-icon{
	display: none;  
}

.l_box {
	width: 30%;
	float: left;
}

.r_box {
	width: 68%;
	float: right;
}

.l_box h2 {
	color: #333;
	font-size: 14px;
	line-height: 30px;
	padding-left: 20px;
	background: #fff;
}

.l_box div {
	background: rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
	overflow: hidden;
}

.l_box div ul {
	padding: 10px;
	overflow: hidden;
}

.r_box li {
	background: rgba(255, 255, 255, 0.8);
	padding: 15px;
	overflow: hidden;
	color: #797b7c;
	margin-bottom: 15px;
}

.r_box li h3 {
	font-size: 16px;
	line-height: 25px;
	text-shadow: #fff 1px 1px 1px;
}
.r_box li h3 a{
	color: #000;
}
.r_box li h3 a:hover{
	color: #000;
	text-decoration: underline;
}
.r_box li img{
	float: right;
	clear: right;
	width: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.r_box li i{
	width: 150px;
	display: block;
	max-height: 100px;
	overflow: hidden;
	float: right;
	margin-left: 20px;
}
.r_box li p{
	margin: 20px 0 0 0;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
}
.r_box li:hover img{
	transform:scale(1.05);
}
.r_box li:hover h3 a{
	color: #19585d;
}
.r_box li h3 b{
	color: red;
}
.wdxc li {
	width: 32%;
	overflow: hidden;
	float: left;
	height: 80px;
	margin-bottom: 2px;
	margin-right: 2px;
}
.wdxc li img {
	height: 100%;
	min-width: 80px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.wdxc li img:hover {
	transform: scale(1.05);
}

.tuijian li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 5px;
	background: url('~@/assets/images/li.png') left center no-repeat;
	padding-left: 20px;
}
.guanzhu img {
	width: 100%;
}

@import './m.scss';
